@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;600&display=swap');

body {
  font-family: Lato, Arial, Helvetica, sans-serif;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 500px;
  padding: 1em 0;
}